body{
    padding-top: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#main-box{
    background-color: aqua;
    width: 75%;
}

#title h1{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: ;
}