body{
    padding-top: 30%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#main-box{
    background-color: aqua;
    justify-content: center;
    align-items: center;
    width: 70%;
}